@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
   background-color: rgb(54, 73, 93);

}
.login_top{
    margin-top: 15px;
    margin-bottom: 15px;
}
.login_title{
    color: black;
    font-family: Great Vibes;
    font-size: 60px;
}
.login{
    position:absolute;
    width:300px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
input.underline_id {
    width: 90%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:20px;
    height:25px;
    background: none;
    border-bottom: 2px solid #adadad;
    font-family: Oswald;
    margin-bottom: 15px;
}
input.underline_pw {
    width: 90%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:20px;
    height:25px;
    background: none;
    border-bottom: 2px solid #adadad;
    font-family: Oswald;
    margin-top: 15px;
}   
.login_btn {
    margin-top: 40px;
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
  }
  
  .login_btn:hover {
    background-position: right;
  }